.main{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    margin-top: 200px;
    margin-left: 650px;
    width: 600px;
    height: 450px;
    border: 5px solid #6ba9c4;
    padding-top: 50px;
    align-items:center;
    }

    p{
        color: #3a99d1;
        margin-left: 80px;
        font-size: 20px;
    }

    img{
        height: 300px;
        padding-left: 150px;
    }

    button{
    height: 40px;
    width: 150px;
    font-size: 17px;
    background-color: #a6ebd0;
    border: none;
    border-radius: 30px;
    color: #fff;
    transition: 0.5s ease-in-out;
    margin-left: 225px;
    }

    button:hover{
        transform: scale(1.2);
    background-color: #3a99d1;
}



/*responsividade*/
@media (max-width: 790px){ 

     *{
     padding: 0;
     margin: 0;
    }
    
     .main{
     margin-top: 60px;
     margin-left: 30px;
     width: 200px;
     height: 300px;
     }
    
     p{
    margin-left: 10px;
    font-size: 20px;
    text-align: center;
    }
    
    img{
    height: 150px;
    padding-left: 24px;
    }
    
    button{
    height: 40px;
    width: 140px;
    margin-left: 33px;
    }
    }
    